*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    font-family: "Libre Franklin";
    max-width: 100%;
    /* overflow-x: hidden; */
}
header{
    background-color: #8A8FFF;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
}
.header-wrapper{
    padding: 0px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
header>div{
    display: inline-block;
}
header .logo{
    color: #563434;
    font-size: 25px;
    font-weight: 700;
    user-select: none;
}
header .logo>span{
    color: #fff;
}
.header-right{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
/* nav-bar styles */
#nav-bar a.nav-link{
    text-decoration: none;
    color: #fff;
}
#nav-bar{
    display: inline-block;
}
#nav-bar a.nav-link{
    margin: 25px;
    font-size: 1.1em;
    font-weight: 500;
}


.profile-picture{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #000;
    display: inline-block;
}

/* Search bar */

.search {
    width: 70%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border: 3px solid #D6D3D3;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 50px 0 0 50px;
    outline: none;
    color: #696969 !important;
    background-color: #D6D3D3;
    padding-left: 20px;
    font-size: 1.1em;
}

.searchTerm:focus{
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #A6A6A6;
    background: #00B4CC;
    background-color: #A6A6A6;
    text-align: center;
    color: #fff;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    font-size: 18px;
}

.body-wrapper{
    padding: 0px 40px;
}


.search-col{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new-collab-btn>button{
    background-color: #FF9B26;
    font-size: 1em;
    padding: 8px 15px;
    color: #fff;
    border: none;   
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    transition: 0.1s ease;
}
button:focus{
    outline: none
}
.new-collab-btn>button:hover{
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
}

/* ----Paste 3------ */

.content-gap-hr{
    /* border: 1px solid rgb(121, 121, 121); */
    margin: 25px 0px 20px;
    outline: none;
    background-color: rgb(121, 121, 121);
}
.section-head{
    /* padding-bottom: 10px; */
    font-size: 1.2em
}
.elements__wrapper{
    padding-left: 30px;
}
.element_item{
    background-color: #e4e4e4;
    padding: 15px;
    width: 250px;
    height: 165px;
    border-radius: 5px;
    font-size: 0.9em;
    overflow: hidden;
    margin: 10px;
    transition: 0.2s ease-in;
}
.element_item:hover{
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
}
.element_item>p{
    margin-bottom: 5px;
}
.element_item .desc{
    height: 55px;
}
.activity_sec .title{
    font-size: 1em;
}
.activity_sec .post_detail{
    font-size: 0.9em;
    
}
.activity_sec .post_detail>a , .activity_sec .post_detail>span, .activity_sec .location a, .activity_sec .location span {
    color: #3E74C6;
    text-decoration: none;
}
.activity_sec .tags{
    margin-top: 10px;
}
.activity_sec .tags .tag_elm{
    background-color: #b6b6b6;
    border-radius: 50px;
    padding: 3px 10px;
    
}
.sections section{
    margin-bottom: 25px;
}
section .elements__wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* -----Paste 4---- */
section.projects .element_item{
    height: 300px;
    padding: 0;
    position: relative;
}
.projects .upper_part{
    position: relative;
    background-color: #f1f1f1;
    height: 35%;
    padding: 15px;
}
.projects .lower_part{
    padding: 15px;
}
.projects .upper_part .posted_on{
    position: absolute;
    bottom: 10px;
    right: 15px;
}
.tech_stack__wrapperr{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tech_stack h4{
    font-size: 1em;
    font-weight: 600;
    opacity: 0.9;
}
.tech_stack__wrapperr .stack_elm{
    padding: 5px 10px;
    border-radius: 5px; 
    background-color: #B2B2B2;
    margin: 5px 10px 5px 0px;
}
.action-btn{
    margin-top: 15px;

}
.action-btn>button{
    background-color: #8A8FFF;
    padding: 5px 20px;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    border: 0px;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.2s ease;
    user-select: none;
}
.action-btn>button:hover{
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.20);
}